# DSCI 100 - Introduction to Data Science


## Lecture 3 - Wrangling to get tidy data

*Credit to [Jenny Brian's slides](https://www.slideshare.net/Plotly/plotcon-nyc-behind-every-great-plot-theres-a-great-deal-of-wrangling) and Garrett Grolemund's [tidying example](https://garrettgman.github.io/tidying/)*


<img src="img/intentional_arrival.png" width=800>

### Housekeeping

- (*I think...*) I've found the cause of the login issues!
- Basically: some of you have been renaming/moving/deleting your worksheet files
- **Please do not do this.**
     - (the exact steps needed to produce the bug are more complicated)
     - (but there are 400 of you, so statistically speaking some of you accidentally do it each time...)
     - you can avoid it entirely:
         - **do not ever rename, move, or delete your worksheet**
         - **do not use "Save As..." when you're saving your work**
         - use "Save and Checkpoint" or Ctrl-S instead!
     - at a minimum, if you move/delete/rename worksheets, our autograder won't be able to find them and will give you 0

### Housekeeping
- Reminder about worksheets/tutorials: 
 - **do not ever rename, move, or delete your worksheet**
         - **do not use "Save As..." when you're saving your work**
         - use "Save Notebook" or Ctrl-S instead!
      - at a minimum, if you move/delete/rename worksheets, our autograder won't be able to find them and will give you 0

- **Quiz dates:**
    - Quiz 1: Thursday, June 2 from 10:30 - 11:15am **(Invigilated in person -- ALL SECTIONS)**
    - Quiz 2: Thursday, June 16 from 10:30 - 11:15am **(Invigilated in person -- ALL SECTIONS)**
 
- **Quiz format:**
    - 45 mins, open-book (*not collaborative*), on Canvas
        - Make sure you have either Chrome or Firefox. Safari has been known to have trouble.
    - Quiz 1 covers **the material from weeks 1a - 3a**
        - first 5 lectures; no classification; no optional web scraping / API stuff
    - practice questions will be posted

### Housekeeping

- Worksheet 1 and 2 grades are posted (for most of you)
- TAs are grading Tutorial 1 and 2
- **If you got 0, but you're *certain* you completed the assignment:**
    - let me know directly via email or Canvas. It's probably due to that login issue.
    - (also, *don't rename/move/delete your assignments!*)
- **If you didn't get 0:** 
    - do not contact the teaching team until you receive a feedback form
    - the feedback form will show you what you got wrong
- **Once you get your feedback form:**
    - if (*and only if*) we made a **grading error**, make a private post on Piazza within 1 week to ask for a regrade
    - otherwise, do not contact us regarding your worksheet/tutorial grade
- **If you were sick / travelling / slept through the deadline / busy watching F1 Drive to Survive**:
    - I will not give extensions.
    - Note: we have to grade over 4,000 assignments/quizzes this semester (I'm not exaggerating!)
    - I will drop your lowest worksheet + tutorial grade at the end of the semester.

## Reminder  

Where are we? Where are we going?

<center><img src="https://d33wubrfki0l68.cloudfront.net/571b056757d68e6df81a3e3853f54d3c76ad6efc/32d37/diagrams/data-science.png" width="800px"/></center>

*image source: [R for Data Science](https://r4ds.had.co.nz/) by Grolemund & Wickham*

## Data Wrangling!
<img src="img/wrangling.jpeg" width="700"/>

image: [*Medium*](https://medium.com/@earny_joe/springboard-capstone-project-1-wrangling-the-data-a1e284d7ef5d)

- In the real world, when you get data, it's usually *very messy*
  - inconsistent format (commas, tabs, semicolons, missing data, extra empty lines)
  - split into multiple files (e.g. yearly recorded data over many years)
  - corrupted files, custom formats
- when you read it successfully into R, it will often still be *very messy*

- you need to make your data **"tidy"**

## What is Tidy Data?

<img src="https://github.com/allisonhorst/stats-illustrations/blob/master/rstats-artwork/tidydata_1.jpg?raw=true" width=800>

*Illustrations from the [Openscapes](https://www.openscapes.org/) blog [Tidy Data for reproducibility, efficiency, and collaboration](https://www.openscapes.org/blog/2020/10/12/tidy-data/) by Julia Lowndes and Allison Horst"*


<img src="https://github.com/allisonhorst/stats-illustrations/blob/master/rstats-artwork/tidydata_2.jpg?raw=true" width=800>



<img src="https://github.com/allisonhorst/stats-illustrations/blob/master/rstats-artwork/tidydata_3.jpg?raw=true" width=800>

## Examples of Tidy(?) Data

...here is the same data represented in a few different ways. Let's vote on which are tidy!

### Tuberculosis data

This data is tidy. True or false?


| country | year  | rate |
|---------|-------|---|
| Afghanistan | 1999|      745/19987071
|Afghanistan |2000    | 2666/20595360
|      Brazil |1999|   37737/172006362
|      Brazil |2000  | 80488/174504898
|      China |1999| 212258/1272915272
|      China |2000 |213766/1280428583

False.

### Tuberculosis data

This data is tidy. True or false?

| country | cases (year=1999) | cases (year=2000)|
|---------|-------|-------|
| Afghanistan |   745 |  2666
|  Brazil | 37737 | 80488
|  China | 212258 | 213766

| country | population (year=1999) | population (year=2000)|
|---------|-------|-------|
| Afghanistan |  19987071 |  20595360 |
| Brazil | 172006362 | 174504898 |
| China | 1272915272 | 1280428583 |

False.

### Tuberculosis data

This data is tidy. True or false?

| country | 1999  | 2000 | 
|---------|-------|-------|
| Afghanistan | 745  |  2666  |
|Brazil |37737 | 80488  |
| China | 212258 | 213766 |

False.

### Tuberculosis data

This data is tidy. True or false?

| country | year  | key | value |
|---------|-------|-------|------------|
|Afghanistan |1999 |     cases   |     745
| Afghanistan |1999| population  | 19987071
|  Afghanistan |2000|      cases |      2666
|  Afghanistan| 2000| population |  20595360
|       Brazil| 1999|      cases |     37737
|       Brazil |1999| population | 172006362
|       Brazil| 2000|      cases  |    80488
|       Brazil |2000| population | 174504898
|        China |1999|      cases  |   212258
|       China |1999| population |1272915272
|       China |2000|      cases |    213766
|       China |2000| population| 1280428583

False.

### Tuberculosis data

This data is tidy. True or false?

| country | year  | cases | population |
|---------|-------|-------|------------|
| Afghanistan | 1999  |  745  | 19987071|
| Afghanistan | 2000 |  2666 |  20595360|
|Brazil |1999 | 37737  |172006362|
| Brazil| 2000 | 80488 | 174504898|
| China | 1999 | 212258 |1272915272|
|  China |2000 | 213766 | 1280428583|

- each row corresponds to a single observation,
- each column corresponds to a single variable, and
- each cell (row, column pair) correspond to a single value

## Tools for tidying:

- `tidyverse` package functions from: 
    - `dplyr` package (`select`, `filter`, `mutate`, `group_by`, `summarize`)
    
    - `tidyr` package (`pivot_longer`, `pivot_wider`)
    
    - `purrr` package (`map_df`)

## Demo Time! 
<img src="img/penguins.jpg" width="300"/>

In [ ]:
library(tidyverse)
library(palmerpenguins)
options(repr.matrix.max.rows = 6)

In [ ]:
penguins

Data for 344 penguins. There are 3 different species of penguins in this dataset, collected from 3 islands in the Antarctica.

## Select

The `select` function is used to choose a subset of columns (variables) in a dataframe.

e.g. select only numeric variables

In [ ]:
# select penguins example

```
penguins

penguins_select <- select(penguins, bill_length_mm,	bill_depth_mm,	flipper_length_mm,	body_mass_g)
penguins_select

penguins_no_select <- select(penguins, -island, -species, -sex, -year)
penguins_no_select
```

## Filter

The `filter` function is used to choose a subset of rows (observations) in a dataframe.

e.g. filter for only penguins with flippers longer than 190 mm

In [ ]:
#penguins filter example

```
penguins

penguins_long <- filter(penguins, flipper_length_mm > 190)
penguins_long

```

## Mutate

The `mutate` function transforms old columns to add new columns.

e.g. convert body mass from grams to pounds

In [ ]:
#penguin mutate example

```
penguin_pounds <- mutate(penguins, body_mass_lb = body_mass_g / 454)
penguin_pounds
```

## Pipe Operator `%>%`

When you need to do a long sequence of operations on data, you could: 

### 1. Save intermediate objects
You *could* save intermediate objects (hard to read):

```
penguins_1 <- mutate(penguins, body_mass_lb = body_mass_g/454)
penguins_2 <- filter(penguins_1, flipper_length_mm > 190)
penguins_3 <- select(penguins_2, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_lb)
penguins3
```
#### Disadvantages:
- The reader may be tricked into thinking the named `penguins_1` and `penguins_2` objects are important for some reason, while they are just temporary intermediate computations. 
- Further, the reader has to look through and find where `penguins_1` and `penguins_2` are used in each subsequent line.

### 2. Composing functions 
You *could* compose functions:

```
penguins_composed <- select(filter(mutate(penguins, body_mass_lb = body_mass_g/454), flipper_length_mm > 190), bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_lb)
penguins_composed
```
#### Disadvantage: 
- Difficult to read

### 3. Piping
You can also *pipe* with the **`%>%` symbol**: passes the output of a function to the **1st argument** of another. 

```
penguins_piped <- penguins %>% 
            mutate(body_mass_lb = body_mass_g/454) %>%
            filter(flipper_length_mm > 190) %>%
            select(bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_lb)
penguins_piped
```
**note**: *if R sees a `%>%` at the end of a line, it keeps reading the next line of code before evaluating!*

**note**: *in the newest version of R (and in the textbook!), you can use `|>`. In this class, we'll stick with `%>%`.*

#### Advantage: 
Pipes make code more readable when you need to do a long sequence of operations on data.

In [ ]:
# show pipe output 
penguins %>% mutate(body_mass_lb = body_mass_g/454)

Note: you don't have to `select()` as the last step here

## Another big concept this week: iteration

- iteration is when you need to do something repeatedly (e.g., ringing in and bagging groceries at the till)

![](https://www.ecomcrew.com/wp-content/uploads/2015/07/bar-code-scanning-grocery-store.jpg)

- important to reduce duplication of code  
- easier to see the intent of your code 
- likely have fewer bugs

## Tidyverse tools for iteration

1. `group_by` + `summarize`: iterate over groups of rows
2. `map_df`: iterate over columns

## `group_by` + `summarize`

e.g. calculate the average body mass (`body_mass_g`) for each penguin species from the `penguins` dataset

In [ ]:
#preview data frame
penguins

To do this we use `group_by` + `summarize` to iterate over species, calculating average body mass.

In [ ]:
# calculate average body mass for each species

```
avg_body_mass <- penguins %>% 
    group_by(species) %>% 
    summarise(avg_body_mass = mean(body_mass_g))
avg_body_mass
```

What's going on with those NA's?

In [ ]:
# calculate average body mass for each species handling NA's

```
avg_body_mass <- penguins %>% 
    group_by(species) %>% 
    summarise(avg_body_mass = mean(body_mass_g, na.rm = TRUE))
avg_body_mass
```

```
penguins %>% 
summarise(num_nas = sum(is.na(body_mass_g)))
```

## `map_df` 

e.g. calculate the average for each numeric column in the `penguins` data

**Be careful:** *There are a lot of `map_...` functions that you could use (`map`, `map_lgl`, `map_chr`, etc). Usually in this course we'll only use `map_df`, but you should investigate the others yourself!*

- `map()` is a function for applying a function to each element of a list (similar to lapply() ) 
- `map_df()` returns a data frame
- `map()` returns a list, `map_lgl()` a logical vector, `map_int()` an integer vector, `map_dbl()` a double vector, `and map_chr()` a character vector.
- `map(YOUR_LIST, YOUR_FUNCTION)`

- This data set contains statistics, in arrests per 100,000 residents for assault, murder, and rape in each of the 50 US states in 1973. Also given is the percent of the population living in urban areas.

In [ ]:
#calculate average each numeric column in penguins data set

```
numeric_penguins <- penguins %>% select(where(is.numeric)) 

numeric_penguins
```

```
penguins_summarized <- map_df(numeric_penguins, mean, na.rm = TRUE) # returns a dataframe
penguins_summarized_df

penguins_summarized_list <- map(numeric_penguins, mean, na.rm = TRUE) # returns a list
class(penguins_summarized_list)
```

- notice we can do the same thing with the following but not as efficient, more duplication of code /more prone to errors/less clean:
```
numeric_penguins  %>% 
summarize(mean(bill_length_mm, na.rm = TRUE), mean(bill_depth_mm, na.rm = TRUE), mean(flipper_length_mm, na.rm = TRUE), mean(body_mass_g, na.rm = TRUE), mean(year, na.rm = TRUE))
```

- Vector, Array, List and Data Frame are 4 basic data types defined in R. Knowing the differences between them will help you use R more efficiently.
- Vector: All elements must be of the same type.
- Matrix/array: A matrix is a vector with two additional attributes: the number of rows and the number of columns.
- List can contain elements of different types.
- Dataframe: A data frame is used for storing data tables. It is a list of vectors of equal length.


## Go forth and wrangle! 

<img align="left" src="https://media.giphy.com/media/Qgm6tIYrSQqC4/giphy.gif" width="300">

*image source: https://media.giphy.com/media/Qgm6tIYrSQqC4/giphy-downsized-large.gif*

## What did we learn?

- 
- 
-

Friends with similar tools:

<img src="https://github.com/allisonhorst/stats-illustrations/blob/master/rstats-artwork/tidydata_4.jpg?raw=true" width=800>

Easier for automation & iteration!

<img src="https://github.com/allisonhorst/stats-illustrations/blob/master/rstats-artwork/tidydata_5.jpg?raw=true" width=800>

And it makes all other tidy datasets seem more welcoming!

<img src="https://github.com/allisonhorst/stats-illustrations/raw/master/rstats-artwork/tidydata_6.jpg?raw=true" width=800>

So make friends with tidy data!

<img src="https://github.com/allisonhorst/stats-illustrations/blob/master/rstats-artwork/tidydata_7.jpg?raw=true" width=800>